<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780966051630-4luh2e7vdpi164ao1dt2emqj3no9ftaa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780966051630-4luh2e7vdpi164ao1dt2emqj3no9ftaa</string>
	<key>API_KEY</key>
	<string>AIzaSyAJbF1FqDpLIInM7vfSwthd72jCYf12m1k</string>
	<key>GCM_SENDER_ID</key>
	<string>780966051630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moorr.ios.dev</string>
	<key>PROJECT_ID</key>
	<string>moorrdev</string>
	<key>STORAGE_BUCKET</key>
	<string>moorrdev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780966051630:ios:b6a4dee42fa624aee504bf</string>
</dict>
</plist>